@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/Role/Create">Add Role</a> <br />
    <a href="/User/AssignRole">Assign Role</a> <br />
    <a href="/User/AddClaim">Add Claim</a> <br />
    <br />
    <hr />
    <br />
    <br />
    <a href="/Authorization">Simple Authorization Page Test</a> <br />
    <a href="/Authorization/RoleBase">Role-based Authorization Page Test</a> <br />
    <a href="/Authorization/ClaimsBase">Claim-based Authorization Page Test</a> <br />
    <a href="/Authorization/PolicyBase">Policy-based Authorization Page Test</a> <br />
</div>
